body {
    background-color: darkred;
    color: white;
}

.personal{
    color: dodgerblue;
    text-align: center;
    padding-right: 10%;
}

.inputHalf{
    float: left;
    width: 50%;
}

.previewHalf {
    float: right;
    width: 50%;
}
.previewHalf > * {
    padding-left: 10%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .description {
      height: 50%;
  }